<footer>
    <a href="https://t.me/htmlshit" target="_blank">Канал</a>
    <a href="https://t.me/htmlshitchat" target="_blank">Чат</a>
    <a href="https://twitter.com/htmlshit" target="_blank">Twitter</a>
    <a href="https://twitter.com/bekharsky" target="_blank">Автор</a>
</footer>
