:root {
  --ne-global-background: #fafafa;
  --ne-body-font-size: 18px;
}

@media (max-width: 767px) {
  :root {
    --ne-headings-scale: 1.15;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --ne-global-background: #18191a;
    --ne-global-foreground: #8691aa;
    --ne-code-border: transparent;
    --ne-links-foreground: #ff8c00;
    --ne-links-active-foreground: #d66a00;
  }
}
